.pagina-EX05{
    .execucao{
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        align-self: center;
        padding: 10px;
        gap: 5px;
        border-radius: 3px ;
        box-shadow: 1px 1px 3px #000;
    }
}