.pagina-EX09{
    .execucao{
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        align-self: center;
        padding: 30px;
        gap: 15px;
        border-radius: 3px ;
        box-shadow: 1px 1px 3px #000;
    }
}